# R9 Backend Configuration
DATABASE_URL=sqlite:///./r9_notebooks.db
SECRET_KEY=SNC@1234
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

# Alerta de Escassez
ALERTA_ESCASSEZ_PERCENTUAL=10

# CORS
CORS_ORIGINS=http://localhost:5173,http://localhost:3000

